:root {
  --primary-color: #8B4513;
  --secondary-color: #D2691E;
  --accent-color: #E6B17E;
  --light-color: #F5F5DC;
  --dark-color: #3E2723;
  --text-color: #333333;
  --white: #FFFFFF;
  --shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  --transition: all 0.3s ease;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  padding-top: 40vh;
  /* Para compensar o header fixo */
}

header {
  background-image: url(imagem/imagem\ lyaut.jpeg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 30vh;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: white;
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: rgb(10, 10, 10) 0px 0px 15px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5%;
}

.logo {
  font-family: cursive;
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--primary-color);
}

.logo span {
  color: var(--accent-color);
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  margin-left: 30px;
}

.nav-links a {
  font-weight: 600;
  color: var(--dark-color);
  text-decoration: none;
  transition: var(--transition);
}

.nav-links a:hover {
  color: var(--primary-color);
}

.menu-toggle {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.header-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
  padding-bottom: 40px;
}

.header-content p {
  color: var(--white);

}

.header-content h1 {
  color: var(--white);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  font-size: 2.5rem;
}

h2 {
  color: var(--primary-color);
  text-align: center;
  font-size: 2.0rem;
  padding: 10px;
  font-family: serif;
}

h1 {
  font-family: cursive;
}

#Inicio{
  margin: 20px;
  padding: 20px;
  text-align: center;

}

.inicio-tx{
  font-size: 1.2rem;
  color: var(--text-color);
  line-height: 1.6;
}

#O nosso menu{
  margin: 10px;
  padding: 10px;
  width: 100%;
  height: 100vh;

}

.menu-category{
 background-image: url(imagem/imagem\ menu.jpeg);
 background-size: cover;
 background-position: center center;
 background-repeat: no-repeat;
display: block;
justify-content: center;
align-items: center;
text-align: center;
margin: 10px;
border-radius: 15px;
padding: 10px;
}

.menu-category h3{
 
   margin: 20px ;
   padding: 20px;
   text-align: center;
   color: var(--secondary-color);
   font-size: 40px;
   font-family: cursive;
}

.menu-category ul{
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  padding-bottom: 20px;
}

.menu-category li{
  margin: 10px;
  font-size: 1.1rem;
  padding: 15px;
   border-bottom: solid rgb(250, 249, 245, 0.93) 1px;
  
}

.botao-menu{
     padding: 5px 10px;
     background-color: var(--accent-color);
     border: none;
     margin-bottom: 20px;
     border-radius: 10px;
     cursor: pointer;
      
}

 .botao-menu a{
  text-decoration: none;
  color: var(--text-color);
  font-weight: 600;
  transition: var(--secondary-color);

}

.botao-menu a:hover{
  color: var(--secondary-color);
}
 

